.title {
  color: var(--cod-gray);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.small-title {
  color: var(--cod-gray);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.base-text {
  color: var(--cod-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.small-text {
  color: var(--cod-gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold {
  font-weight: 500;
}

.fw-thin {
  font-weight: 300;
}
