.footer {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  padding: 2rem 5.6rem;
  width: 100%;
}

.quote {
  text-align: center;
  max-width: 100%;
  width: 985px;
}

.author {
  align-self: flex-end;
}

.author i {
  font-style: normal;
}

@media only screen and (max-width: 40rem) {
  .footer {
    padding: 1rem;
  }
}
